$white: #FFFFFF;
$black: #000000;
$blue: #007DC6;

$layoutBackgroundColor: #E5E5E5;
$layoutTextColor: #0D1C2E;
$linkTextColor: #0063DA;

$tableBackgroundColor: $white;
$tableHeaderLine: #DADADA;
$tableRowLine:  #F4F4F4;


$info-text-color: $white;
$info-background-high: #47C2B1;
$info-background-medium: #FFC76A;
$info-background-low: #FF8576;

$value-number-color: $blue;

$form-button-primary: $blue;
$form-button-text-color: $white;
$form-text-placeholder: #E0E0E0;

$canvas-background: #ABABAB;
